/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run plant-food-research-open/genepal -revision <version> -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Full test profile'
    config_profile_description  = 'Full test dataset to check pipeline function'

    input                       = "${projectDir}/tests/full/assemblysheet.csv"
    protein_evidence            = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/214/015/GCF_000214015.3_version_140606/GCF_000214015.3_version_140606_protein.faa.gz'
    eggnogmapper_tax_scope      = 33090
    rna_evidence                = "${projectDir}/tests/full/rnasheet.csv"
    liftoff_annotations         = "${projectDir}/tests/full/liftoffannotations.csv"
    orthofinder_annotations     = "${projectDir}/tests/full/orthofinderannotations.csv"

    star_max_intron_length      = 5000

    busco_lineage_datasets      = 'chlorophyta_odb10 eukaryota_odb10'

    // Relaxed filtering due to limited evidence
    enforce_full_intron_support = false
    filter_liftoff_by_hints     = false
}
