process {

    withName: 'FASTA_LIFTOFF:GFFREAD_BEFORE_LIFTOFF' {
        ext.args = '--no-pseudo --keep-genes -C'
    }

    withName: 'FASTA_LIFTOFF:LIFTOFF' {
        ext.args = [
            '-exclude_partial',
            '-copies',
            '-polish',
            "-a 0.9",
            "-s 0.9"
        ].join(' ').trim()
    }

    withName: 'FASTA_LIFTOFF:AGAT_SPFILTERFEATUREFROMKILLLIST' {
        ext.prefix = { "${meta.id}.invalid.orf.purged" }
    }

    withName: 'FASTA_LIFTOFF:GFFREAD_AFTER_LIFTOFF' {
        ext.prefix = { "${meta.id}.liftoff" }
        ext.args = '--no-pseudo --keep-genes -C'
    }

    withName: 'FASTA_LIFTOFF:GFF_TSEBRA_SPFILTERFEATUREFROMKILLLIST:AGAT_CONVERTSPGFF2GTF' {
        ext.args = '--gtf_version relax'
    }
}
